h1 { border-bottom: 1px solid #000; }

.tools_sidebar {
    background-color: #fefefe;
    padding-left: 1em;
}

textarea#content {
    font-family: 'Inconsolata', 'courier', sans-serif;
    height: 25em;
}
